.export{
  font: Roboto;
  color:black;
  background-color: #e6e0e0;
  border-radius: 0.2rem;
  border: 0.1px #e6e0e0;
}

.export:hover{
  background-color: #bdb4b4;
  border-color: rgb(211, 211, 211);
}

p{
  padding-left: 15px;
  padding-right: 15px;
}

h6{
  padding-left: 15px;
  padding-right: 15px;
}


.btn-info{
  background-color: #92dbb0;
  border-color: #92dbb0 ;
}

.btn-info:focus{
  background-color: #27854d;
  border-color: #75e0a0 ;
}

.btn-info:hover{
  background-color: #27854d;
  border-color: #75e0a0 ;
}

.btn-primary{
  background-color: #92b2db;
  border-color: #92b2db ;
}

.btn-primary:hover{
  background-color: #5587c9;
  border-color: #5587c9 ;
  
}

.btn-outline-secondary{
  border-color: transparent;
  
}

.btn-outline-secondary:hover{
  background-color: #5587c9;
  border-color: #5587c9 ;
}


.custom-tabs {
  padding: 0px 24px;

}

.nav-tabs{
  background-color: #fff;
}

.navbar-bottom {
  min-height: 80px;
  padding:0
}
